*{
  padding:0;
  margin:0;
  cursor:default;
  scrollbar-width: none;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar start */

.layout-navbar{
  font-family: sans-serif;
  height: 75px ;
  width: 100%;
  z-index: 9;
  background-color: #FCF8F4;
  display: flex;
  justify-content: space-between;
  padding: 12px 6% 0 6%;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  top: 0;
}
.img-navbar{
  height: 48px;
  width: 105px;
}
.content-navbar{
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.content-navbar p{
  padding-top: 35px;
}
.content-navbar img{
  height: 24px;
  width: 24px;
  margin-top: 24px;
}
.value-navbar{
  display: none;
}
.value-navbar div, .close-navbar{
  font-size: 200%;
  padding-top: 10px;
}
.visib-navbar{
  display: none;
}
.show-navbar{
  display: block;
  /* position: relative; */
  /* margin: 0; */
}
.open-navbar{
  height: 100vh;
  width: 100%;
  color:#163357;
  text-align: center;
  padding-top: 100px;
  font-family: sans-serif;
  border-bottom-left-radius:29px;
  border-bottom-right-radius:29px;
  box-shadow: 0px 1px 10px 0px rgb(195, 194, 194);

}
.openlist-navbar p, .openlist-navbar img{
  padding-top: 2.5%;
  font-weight: bolder;
  font-size: 100%;
}
.openlist-navbar img{
  margin-left: 49.5%;
  padding-top: 2.5%;
}
.close-navbar{
  font-size:300% ;
  padding-top: 3%;
}
/* navbar ends */



/* seller */
.noti-pro{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 90px;
  margin-right: 3%;
}
.noti-pro img{
  height: 22px;
  width: 22px;
}
.container-pro{
  width: 100%;
  height: 552px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.layout-pro{
  height: 552px;
  width:63.5%;
  position: relative;
  border-radius: 29px;
  box-shadow: 0px 1px 10px 0px rgb(195, 194, 194);
}
.nav-pro{
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #FCF8F4;
  color: #7A7A7A;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
}
.nav-pro p{
    border-bottom: 8px solid #D6D6D6;
    color: #7A7A7A;
    display: flex;
    width: 20%;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.show-pro{
  display: block;
}
.detail-pro{
  height: 100%;
  border-top-left-radius: 29px;
  background-color:#EDF2F8 ;
  box-shadow: 1px 1px 10px 0px rgb(230, 229, 229) inset;
  /* rgb(252, 251, 251) */
}
.body-pro{
  position: relative;
  font-size: 120%;
  padding-left: 6%;
  height: 420px;
  width: 100%;
  overflow-y: scroll;
  background-color: white;
}
.type-pro{
  width:50%;
}
.input-seller{
  display: flex;
}
.radio-content-homepage1 {
  display: flex;
  flex-wrap: nowrap;
}
.radio-content-homepage2 {
  display: flex;
  flex-wrap: nowrap;
}
.radio-label1 {
  display: flex;
  /* flex-wrap: nowrap; */
  margin-right: 20%;
  margin-bottom: 7%;
  /* background-color: #122B49; */
}
.radio-home{
  display: flex;
}
.radio-button1 {
  margin-right: 30px;
  width: 40px;
  height: 25px;
  accent-color: #122B49;
}
.input1 {
  /* width:65.3%; */
  width: 343px;
  height: 38px;
  padding-left: 10px;
  margin-bottom: 10%;
  margin-top: 10px;
  color: #122B49;
  border: 1px solid #c1c0c0;
  outline: 1px solid #7A7A7A;
  border-radius: 2px;
}
.foot-pro{
  height: 52px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #122B49;
  color: white;
  display: flex;
  padding: 0 6% 0 6%;
  align-items: center;
  justify-content:center;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
}
.foot-pro div{
  width: 650px;
  margin-right: 50%;
}
.foot-pro button{
  /* width: 15%; */
  height: 32px;
  border: 2px solid white;
  padding: 0 4% 0 4%;
  background-color: #122B49;
  color: white;
  border-radius: 6px;
}


/* location */
.map-location{
  margin-right: 5%;
  margin-bottom: 30%;
}
.detail-pro1{
  height: 100%;
  background-color:#EDF2F8 ;
  box-shadow: 1px 1px 10px 0px rgb(220, 220, 220) inset;
  /* rgb(252, 251, 251) */
}
/* features */

.amenities{
  display: flex;
  width: 100%;
  height: 130px;
  color: #7A7A7A;
  font-size: 75%;
  margin-top: 5%;
  margin-bottom: 10%;
}
.amenities div{
  width:120px;
  margin-right: 10%;
  text-align: center;
}
.amenities img{
  padding: 10% 0 10% 0;
}
.amenities p{
  padding-bottom: 20%;
}
input[type="checkbox"]{
    height: 24px;
    width: 24px;
    accent-color: #122B49;
}


/* images */
.contain-images{
  height: 45vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid #D6D6D6;
  margin-bottom: 10%;
}
.block-images{
  text-align: center;
}
.block-images button{
  color: white;
  background-color: #122B49;
  border:none;
  height: 35px;
  width:165px;
  font-size: 80%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-pro{
  position: relative;
}
.overlay-images{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #656566; */
  background-color:transparent;
  position:absolute;
  z-index: 5;
  top:0.1%;
  left:0.1%;
}
.detail-pro2{
  height: 100%;
  background-color:#EDF2F8 ;
  border-top-right-radius: 29px;
  box-shadow: 1px 1px 10px 0px rgb(220, 220, 220) inset;
  /* rgb(252, 251, 251) */
}
/* confirmation */

.layout-confirmation{
  padding: 5% 40% 5% 10%;
}
.layout-confirmation button{
  color: white;
  background-color: #122B49;
  border:none;
  height: 37px;
  width:160px;
  font-size: 85%;
  border-radius: 7px;
  
}





@media(max-width: 1082px){
  .content-navbar{
    display: none;
  }
  .value-navbar{
    display: block;
  }
}
@media(max-width:1244px){
  .input-seller{
    display: block;
  }
  .radio-content-homepage1{
    display: block;
  }
}
@media(max-width: 893px) {
  .container-pro{
    font-size: small;
  }
  .layout-confirmation{
  padding: 5% 20% 5% 10%;
  }
}
@media(max-width:599px){
  .input1{
    width:85%;
  }
  .radio-content-homepage2{
    display: block;
  }
  .radio-label1{
      width: 200px;
  }
  .radio-home{
    display: block;
  }
  .foot-pro div{
    display: none;
  }
  .nav-pro{
    font-size:xx-small;
  }
}
@media (max-width:398px){
  .amenities{
    display: block;
  }
  .nav-pro{
    font-size: 40%;
    font-weight: bold;
  }
  .noti-pro img{
    height: 15px;
    width: 15px;
  }
}